.flexible-box{
    width: 100vw;
    height: 100vh;
}

.box_image{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100%;
}


.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.title-name{
    font-size: 10vw;
    text-align: center;
    position: absolute;
    z-index: 2;
}


@media only screen and (max-width:1300px){
    .margin-top{
        margin-top:50px;
    }
}
