.flexible-box{
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width:100%;
  min-height: 100vh;
}

.cover-photo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw; 
  height: 25vh;
  background-color: #222529;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.cover-photo img{
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.display-none{
  display:none;
}

.profile-box{
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  width: 60vw; 
  min-height: 25vh;
  background: #1d1c1c;
  z-index: 1;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.flexible-image-profile{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
}

.image-profile-box{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  /*background: linear-gradient(to right,#FF416C,#FF4B2B);*/
  background: black;
  z-index: 2;
  top:-120px;
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgba(0,0,0,.5);
  border:1px solid #252525;
}

.image-profile-box label,
.image-profile-box div{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-profile-box label >img,
.image-profile-box div >img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.image-profile-box label >img{
    cursor: pointer;
}

.image-profile-box input{
  display: none;
}

.image-profile-box .fas{
  position: absolute;
  font-size: 100px;
  color: 	#252525;
  cursor: pointer;
}

.image-profile-box .far:hover{
  opacity: .7;
}

.background-none{
  background: none;
}

.username-box{
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
}

.username-box strong{
  color:#FFFFF1;
  font-size: 30px;
  font-weight: 600;
}

.biography-box{
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #505050;
  border-radius: 10px;
}

.underline{
  margin-bottom: 10px;
  border-bottom:1px solid #252525;
  cursor: pointer;
}

.underline:hover{
  border-bottom:1px solid #2A95FF;
}

.biography{
  color:#2A95FF;
}

.biography-box{
  color: #FFFFF1;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 10px;
  margin:5px 0;
}

.biography-box textarea{
  resize: none;
  padding:10px;
  height: 50px;
  min-width: 15vw;
  border-radius: 10px;
  color: #FFFFF1;
  font-size: 15px;
  background-color: transparent;
  text-align: center;
  overflow-x: hidden;
  margin-bottom: 5px;
}

.biography-box textarea:focus{
  border:1px solid #2A95FF;
}

.biography-box textarea::placeholder{
  font-size: 15px;
  color: #FFFFF1;
  font-weight: 400;
  letter-spacing: 1px;
}

.biography-box button{
  border:none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 10px;
  opacity: 1;
  color:#FFFFF1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f72d4e;
  letter-spacing: 2px;
}

.biography-box button:hover{
  opacity: .7;
}

.biographyContainer{
  word-wrap: break-word;
  text-align-last: center;
  text-align: center;
  width: 200px;
  margin-bottom: 10px;
}

.buttons-box{
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.icons-box{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom:1px solid #505050;
  width:100%;
  min-height: 70px;
  z-index: 2;
  border-radius: 10px;
}

.icons-box .fas{
  font-size: 25px;
  color:#FFFFF1;
  margin-left: 20px;
  margin-right: 20px;
}

.icons-box i:hover{
    opacity:.7;
}

.posts-box{
    position: relative;
    width:58vw;
    background-color: #121619;
    margin-bottom: 300px;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-flow: row wrap;
    min-height: 200px;
    align-items: center;
}

.new-post-button{
  display: flex;
  flex-flow: row;
  min-width: 15vw;
  min-height:50px;
  justify-content: center;
  align-items: center;
  background-color: #f72d4e;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
}

.new-post-button:hover{
  opacity: .7;
}

.new-post-button > span{
  margin-right: 10px;
  font-weight: bold;
  font-size: 18px;
}

.new-post{
  min-width: 20vw;
  min-height:450px;
  padding: 0px 20px;
  position: absolute;
  z-index: 2;
  background:  linear-gradient(to right,#FF416C,#FF4B2B);
  top:300px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.new-post > .post >button{
  margin-top: 10px;
  border:none;
  height:50px;
  width:150px;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}

.new-post > .post >button:hover{
  opacity: .7;
}

.close-post-button{
  cursor: pointer;
  font-size: 40px;
}

.close-post-button:hover{
  opacity: .7;
}

.new-post-text{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.new-post-container{
  min-height: 150px;
  max-height: 300px;
  min-width: 300px;
  max-width:300px;
  border:1px solid #FFFFF1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  overflow: hidden;
}

.new-post-container>i{
  position: absolute;
  z-index: 2;
  font-size: 25px;
}

.fitSize{
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
}

.border-none{
  border:none;
}

.post-textarea{
    min-width: 300px;
    resize:none;
    padding: 10px;
    background-color:transparent;
    border:1px solid #FFFFF1;
    color:#f7f7f4;
}

.post-textarea::placeholder{
    color:#f7f7f4;
}

.center{
    width:100%;
    height: auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.center >button{
    height:40px;
    width:150px;
    cursor: pointer;
    color: #FFFFF1;
    background-color: #2A95FF;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    letter-spacing: 1px;
}


.center >button:nth-child(2){
    margin-left: 20px;
}

.post{
    width:100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 20px 0;
}


.post-box{
    padding: 30px;
    flex-basis: 50%;
    position: relative;
    z-index: 1;
}


.user-box{
  display: flex;
  flex-flow: row;
  width:100%;
  justify-content: space-between;
  align-items: center;
  min-height:50px;
  border-radius: 10px 10px 0 0;
  border-bottom:1px solid #505050;
}

.left-box{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.left-box img{
  height:40px;
  width:40px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 10px;
  object-fit: cover;
}

.options-box{
    position: relative;
}

.options-box >.far{
    margin-right: 15px;
    cursor: pointer;
}

.options-box >.far:hover{
    opacity: .7;
}

.post-options{
    position: absolute;
    width: 220px;
    max-height:80px;
    z-index: 2;
    background:  linear-gradient(to right,#FF416C,#FF4B2B);
    right:20px;
    display: none;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px 0px 10px 10px;
    cursor: pointer;
}

.post-options div:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.post-options>div{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
}

.post-options>div:nth-child(1){
    border-radius: 10px 0 0 0;
}

.post-options>div:nth-child(2){
    border-radius: 0 0 10px 10px;
}

.post-options>div>i{
    margin:10px;
}

.column-box{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

a{
    color: #FFFFF1;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.date{
  font-size: 10px;
  margin-top: 5px;
  text-align: left;
  width: 100%;
}

.post-container{
  width: 100%;
  padding: 10px;
}

.post-container>img,
.post-container>a>img{
  width:100%;
  max-height: 550px;
}

.post-container>video{
  width:100%;
  max-height: 550px;
  cursor: pointer;
}

.post-container>div,
.post-container>strong{
  width: 100%;
  word-wrap: break-word;
  text-align-last: left;
  font-size: 18px;
}

.inline-box{
  width:100%;
  display:flex;
  flex-flow: row;
  align-items: center;
  border-top:1px solid #505050;
}

.inline-box i{
  margin:0 10px 0 0;
}

.inline-box > div,
.inline-box > span{
  flex-basis: 33.33333333333333%;
  min-height:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #FFFFF1;
}

.inline-box > div{
    cursor: pointer;
}

.inline-box > div:hover{
  background-color: #505050;
}

.inline-box > div:nth-child(1){
    border-radius: 0 0 0 7px;
}

.inline-box > div:nth-child(3){
    border-radius: 0 0 7px 0;
}

.box-shadow-dark{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border:1px solid #505050;
    border-radius: 10px;
}

.comment-box{
  display: inline-flex;
  flex-flow: row;
  width: 100%;
  min-height:50px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0 0 10px 10px;
  border:1px solid #505050;
  background: #121619;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.share-img,
.comment-img{
    height:30px;
    width:30px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 10px;
    object-fit: cover;
  }

.comment-box form{
    display: flex;
    flex-basis: 75%;
}

.comment-box form> input,
.comment-box form> textarea{
  border:none;
  border-radius: 20px;
  height:35px;
  padding:10px;
  width:100%;
  overflow-y: auto;
  resize: none;
}

.comment-box form>button{
    padding: 10px;
    background: #121619;
    color:white;
    border:none;
    margin-left: 10px;
    cursor: pointer;
}

.comments-container,
.share-container{
    position: absolute;
    z-index: 100;
    width: 80%;
    top:25%;
    left:0%;
    margin: 0 10%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 12px;
    box-shadow:10px 10px 10px rgba(0, 0, 0, 0.5);
}

.share-container{
    background-color: rgb(52, 54, 53);
}

.share-box,
.comments-box{
    display: flex;
    flex-flow: column nowrap;
    height: 200px;
    width: 100%;
    overflow-y: auto;
    background: #2A95FF;
}

.share-box{
    background-color: #01FF70;
    border-radius: 0 0 10px 10px;
}

.share-line{
    display: flex;
    flex-flow:row wrap;
    width:100%;
    background-color: rgb(32, 32, 32);
    cursor: pointer;
    padding: 10px 30px 10px 10px;
    border-bottom:1px solid   rgb(42, 43, 42);
}

.share-line:hover{
    background-color:  rgb(36, 36, 36);
}

.share-line > div{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
}

.share-line >div:nth-child(1){
    flex-basis: 85%;
    justify-content: flex-start;
}

.share-line >div:nth-child(2){
    flex-basis: 15%;
    justify-content: flex-end;
}

.close-box{
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    background: #121619;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.close-box > i{
    cursor: pointer;
}

.comment {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    padding:10px;
    width: 90%;
    background-color: #121619;
    font-size: 10px;
    letter-spacing: 1px;
    text-align: left;
    border-radius: 0 10px 10px 10px;
    margin: 10px;
}

.message-content{
    font-size: 13px;
    margin-left: 20px;
    word-wrap: break-word;
    word-break: break-all;
}

.animation_delay_6ms{
  animation-delay: .6s;
}

.animation_delay_4ms{
  animation-delay: .4s;
}

.unlogged-user{
    color:#f72d4e;
    font-size: 20px;
    letter-spacing: 1px;
}

.favorites-box{
    width:58vw;
    background-color: #121619;
    margin-bottom: 100px;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-flow: row wrap;
}

.follower-box{
    position: relative;
    flex-basis: 33.3%;
    margin: 15px 0;  
}

.follower-box img{
    border-radius: 10px;
    max-width: 300px;
    object-fit: cover;
    min-height:350px;
    opacity:.5;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.follower-box strong{
    position: absolute;
    z-index: 3;
    margin:10px auto;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 20px;
    color:#FFFFF1;
    letter-spacing: 1px;
}

.follow-title{
    font-size: 1.625rem;
    font-weight: 500;
    letter-spacing: .29px;
}

.settings-row{
    display: flex;
    flex-flow: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
    height: 80px;
    border-bottom: 1px solid #252525;
}

.settings-row:nth-last-child(1){
    border:none;
}

.settings-row button{
    height:30px;
    width:100px;
    cursor: pointer;
}

.settings-row input{
    height:40px;
    padding-left: 10px;
}

.settings-row button:hover{
    opacity: .7;
}

.success{
    margin-left: 10px;
    color: #4BCA81;
}


@media only screen and (max-width:1600px) {
    .follower-box{
        flex-basis: 50%;
    }
}


@media only screen and (max-width:1294px) {
  .profile-box{
    width: 100%;
    border-radius: 0%;
  }

  .icons-box{
    border-radius: 0px;
  }


  .posts-box{
    width: 100%;
  }

  .inline-box > div{
    width: 80%;
  }

  .cover-photo{
    width: 100%;
  }

  .favorites-box{
    width: 100%;
}

.follower-box{
    width: 100%;
}

.settings-row{
    margin: 20px;
}

}

@media only screen and (max-width:800px) {
    .post-box{
        flex-basis: 100%;
    }

    .follower-box{
        flex-basis: 100%;
    }
}