*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{ 
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    background: linear-gradient(to right,#FF416C,#FF4B2B);
    overflow-x: hidden;
    color:#FFFFF1;
  }
  
  *:focus{
    outline: none;
  }
  
  
  .nav-bar{
    position: relative;
    background: #1c2125;
    width:100%;
    min-height:60px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 3;
  }
  
  .nav-bar a{
    color: #FFFFF1;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav-bar a:hover{
    opacity:.7;
  }
  
  .nav-bar > .fas,.far{
    font-size: 25px;
  }
  
  .title{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-align: center;
  }
  
  .title a{
    font-family:"display";
    font-size: 30px;
    margin-right:10px;
  }

  .space{
      margin: 0 20px;
  }
  
  .title .fal,
  .title .far
  .title .fas{
    font-size: 30px;
    color:#FFFFF1;
  }
  
  .search-bar{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    height: 35px;
  }
  
  .search-bar input{
    height: 35px;
    max-width: 230px;
    border:none;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 40px;
  }
  
  .search-bar input:focus{
    outline: none;
  }
  
  .search-bar button{
    height: 35px;
    position: absolute;
    background-color: transparent;
    border:none;
    right:10%;
    cursor: pointer;
  }
  
  .search-bar button:focus{
    outline: none;
  }
  
  .hidden-menu{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    flex-flow: column nowrap;
    background: #202020;
    text-align: center;
    padding-top: 20px;
    z-index: 2;
    transform: translateY(-180%);
    transition: transform .7s ease-in-out;
  }
  
  .hidden-menu a{
    color: #FFFFF1;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .hidden-menu a:hover{
    opacity: .7;
  }
  
  .hidden-menu hr{
    border-color: #ff401a;
    color:#ff401a;
    margin-bottom: 10px;
  }
  
  .hidden-menu input{
    margin-bottom: 20px;
  }
  
  .hidden-menu-icon {
    background: transparent;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    display: none;
  }
  
  .hidden-menu-icon span {
    border-radius: 1px;
    height: 2px;
    width: 30px;
    background: white;
    display: block;
    margin-top:10px;
    margin-left:10px;
    transition: .6s ease-in-out;
  }
  
  .active .hidden-menu-icon span:nth-child(1){
    transform: translate(0,12px) rotate(-225deg)
  }
  
  .active .hidden-menu-icon span:nth-child(2){
    opacity:0;
  }
  
  .active .hidden-menu-icon  span:nth-child(3){
    transform:translate(0,-12px) rotate(225deg);
  }
  
  .active .hidden-menu{
    position: static;
    transform: translateY(0%);
  }
  
  .mobile-menu{
    display: none;
    position: fixed;
    bottom:0;
  }

  
.selected-box{
    color: #ff4262;
  }

  .selected-box p{
    color: #ff4262;
  }
  
  .selected-box .fas{
    color: #ff4262;
  }

  .block-box{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .block-box p{
    font-size: 0px;
    transition: font-size .4s;
  }
  
  .block-box:hover p{
    font-size: 15px;
  }


  @media only screen and (max-width:1350px) {

    .invisible{
      display: none;
    }
  
    .search-bar{
      margin-bottom: 20px;
    }
  
    .hidden-menu{
      display: flex;
    }
  
    .hidden-menu-icon{
      display: block;
    }
  
    .hidden-menu .fas{
      font-size: 25px;
      color:#FFFFF1;
    }
  
    .hidden-menu p{
      margin-bottom: 10px;
    }
  
    .mobile-menu{
      display: flex;
      border-radius: 10px 10px 0px 0px;
    }
  
    .between{
      display: flex;
      justify-content: space-between;
      padding: 0px 20px;
    }
  }