
.isa_info, .isa_success, .isa_warning, .isa_error {
    width: 250px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin: 15px;
    font-size:2em;
    vertical-align:middle;
}

.notification{
    position: fixed;
    left:1%;
    bottom:10%;
    z-index: 100;
}