a{
    text-decoration: none;
    color: #252525;
}

a:hover{
    text-decoration: underline;
}

.flexible-box{
  position:relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:100%;
}

.chat-box{
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  width: 60vw;
  min-height: 80vh;
  max-height: 80vh;
  z-index: 1;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 300px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.chat-list-box{
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  width:30%;
  height: 100%;
}

.inline-box img{
  border-radius: 50%;
  height: 50px;
  width:50px;
  margin-left: 20px;
  object-fit: cover;
}

.inline-box button{
  background: transparent;
  border:none;
  margin-right: 20px;
  cursor: pointer;
}

.inline-box button:hover{
  opacity: .7;
}

.inline-box i{
  font-size: 20px;
}

.circle-red{
    width: 15px;
    height:15px;
    border-radius: 50%;
    background-color:rgb(196, 10, 10);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin-left: 5px;
}

.message-box{
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to right,#f85032,#e73827);
    right:0;
    width:70%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}

.presentation-text strong{
  font-size:4vw;
}

.presentation-text{
    height:40%;
    margin-top: 10px;
}

.image-box-relative{
    position: relative;
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box{
  width: 16vw;
  height: 16vh;
}

.image-box img{
  animation: rotation 8s linear infinite;
}

.chatroom-box{
  height:100%;
  overflow-y: auto;
  background: #252525;
  border-radius: 0 0 0 8px;
}

.chatroom{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 70px;
  width:100%;
  background: #252525;
  color:white;
  border-bottom: thin solid #505050;
  padding: 10px 0;
}

.chatroom:hover{
  opacity: .7;
  cursor: pointer;
}

.chatroom img{
    margin-left: 10px;
    height:40px;
    width:40px;
    border-radius: 50%;
    object-fit: cover;
}

.chatroom-title{
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 30px;
}

.chatroom-title p{
  font-size: 13px;
}

.user-box{
    background: #DCDCDC;
    border-radius: 8px 0 0 0;
    width: 100%;
}

.user-title{
    border-radius: 0px 8px 0px 0px;
    border-left: thin solid #AAAA;
}

.inline-box{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    color:#252525;
    padding: 10px 0;
}

.inline-box img{
    margin-right: 20px;
}

.inline-box span{
    font-size: 13px;
    font-weight: normal;
}

.top-box{
    position: absolute;
    top: 0;
    z-index: 100;
    flex-basis: 20%;
}

.column-box{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.message-form{
    display: flex;
    width:100%;
    position: absolute;
    bottom: 0;
}

.message-form textarea{
    flex-basis: 80%;
    padding: 10px;
    height:50px;
    border:none;
    resize: none;
}

.message-form > button{
    flex-basis:20%;
    height:50px;
    background: #252525;
    color:#FFFFF1;
    border:none;
    cursor: pointer;
    border-radius:0 5px 5px 0;
}

.message-form > button>.fas{
    font-size: 20px;
}

.message-box-relative{
    position:relative; 
    height:100%; 
    width:100%;
}

.messageList{
    display: flex;
    flex-flow: column;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    flex-basis: 75%;
}

.messageList::-webkit-scrollbar {
    width: 0.5em;
    background: #e73827;
  }

.messageList::-webkit-scrollbar-thumb {
    background: #DCDCDC;
    border-radius: 5px;
  }
    

.mymexLine{
    display: flex;
    justify-content: flex-end;
    margin: 20px 15px 0 0;
}

.othermexLine{
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 0 15px;
}


.myMessages, .otherMessages{
    display: flex;
    flex-flow: column;
    justify-content: center;
    color:#252525;
    padding: 10px;
    max-width: 50%;
}

.otherMessages{
    align-items: flex-start;
    border-radius: 15px 15px 15px 0;
    background: #99ff33;
}

.myMessages{
    border-radius: 15px 15px 0 15px;
    align-items: flex-end;
    background: #66ffff;
}

.mex{
    font-size: 20px;
    text-align: left;
}

.date{
    font-size: 10px;
    text-align: right;
}

.mex, .date{
    overflow-wrap: break-word;
    word-break: break-word;
}

@keyframes rotation {
  100% {transform: rotateY(360deg);}
}


@media only screen and (max-width:1350px) {

  .chat-box{
    width:95%;
    margin-bottom: 150px;
  }

  .image-box{
    width:20vw;
  }
}

@media only screen and (max-width:850px) {
  .chatroom{
    justify-content: center;
    align-items: center;
  }

  .chatroom img{
      margin: 0;
  }

  .chatroom-title{
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .message-box p{
    font-size: 25px;
  }

  .inline-box{
      justify-content: center;
  }

}


@media only screen and (max-width:400px) {
    .messageList{
        margin-top: 140px;
        margin-bottom: 60px;
    }
}