.flexible-box{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:100%;
}

.inline-box{
    width:100%;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
}

.center-box{
    justify-content: center;
}

.column-box{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.column-box div{
    margin-top: 20px;
}

.column-box > div > i{
    margin-right: 10px;
    font-size: 20px;
    color: #d4314c;
}

.column-box > div > strong{
    letter-spacing: .3px;
}

.recipe-box{
    padding: 50px;
    width: 950px;
    background-color: #252525;
    margin-bottom: 150px;
    border-radius: 0 0 10px 10px;
}

.recipe-title{
    font-size: 2.88rem;
    line-height: 1.1em;
    color:#73529e;
    font-weight: 700;
}

.recipe-img{
    min-width: 200px;
    max-width: 600px;
    margin: 50px 50px 0 0;
}

img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.section-title{
    font-size: 1.625rem;
    font-weight: 500;
    letter-spacing: .29px;
    text-align: left;
    margin: 50px 0 0 0;
    color:#908435;
}

.section-content{
    text-align: left;
    margin-top:10px;
    font-size: 1rem;
    letter-spacing: .2px;
    line-height: 28px;
}

.space-box{
    justify-content: space-around;
}

.step-image{
    min-width:100px;
    max-width: 250px;
    position: relative;
}

.step-image span{
    width:30px;
    height:30px;
    border:1px solid  #f7972e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    right:10px;
    top:10px;
    background-color: #f7972e;
    font-weight: 600;
}

@media only screen and (max-width:1300px){
    .recipe-box{
        width: 100%;
    }
}